<table>
  <% for post in @posts %>
    <tr>
      <td><div id="post_title"><%= link_to post.title, post %></div></td>    
		</tr>
    <tr>
			<td><div id="post_content"><%= post.content %></div></td>
		</tr>
		<tr>
			<td><div id="time_and_author"><%= post.created_at %> by <%= post.author %></div></td>
		</tr>
		<tr>
			<td><div id="time_and_author">Tags: 
			<%post.tags.each do |t|%>
			<%=t%>
			<%end%>
			</div></td>
		</tr>
		
		<% if logged_in? %>
		<tr>
			
			<td><%= link_to "Show", post %>
			 |
	      <%= link_to "Edit", edit_post_path(post) %> |
<%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %>	
			<td>
		</tr>
		<%end%>
		<tr><td><br></td></tr>
  <% end %>
</table>
<%= will_paginate @posts %>
<% if logged_in? %>
	<p><%= link_to "New Post", new_post_path %></p>
<%end%>