<% title "Posts" %>

<table>
  <% for post in @posts %>
    <tr>
      <td><strong><%=h post.title %></strong></td>    
		</tr>
    <tr>
			<td><%= post.content %></td>
		</tr>
		<tr>
			<td><%= link_to "Show", post %>
			<% if logged_in? %> |
	      <%= link_to "Edit", edit_post_path(post) %> |
<%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %>	
			<%end%><td>
		</tr>
		<tr><td><br></td></tr>
  <% end %>
</table>
<%= will_paginate @posts %>
<% if logged_in? %>
	<p><%= link_to "New Post", new_post_path %></p>
<%end%>